<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4">
				<div class="logo">
				<%= image_tag "kbm.png", style:"height:200px!important;" %>
				</div>
				<!-- end logo -->
				<div class="footer-info">Centre D'art Martiaux<br>
				<a href="#">Afficher les informations </a></div>
				<!-- end footer-info -->
				<ul class="footer-social">
        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
        <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
        <li><a href="#"><i class="lni lni-instagram"></i></a></li>
        <li><a href="#"><i class="lni lni-youtube"></i></a></li>
        <li><a href="#"><i class="lni lni-pinterest"></i></a></li>
	</ul>
		</div>
      <!-- end col-3 --> 
			<div class="col-lg-4">
				<h6 class="widget-title">KBM CLUB</h6>
				<p>Nous vous mettons en contact avec l'entraîneur le mieux équipé pour vous aider à atteindre vos objectifs et préférences spécifiques <u>Donnez-vous</u> le kit dont vous avez besoin pour laisser votre compétition dans la poussière.</p><br>
				<a href="/users/sign_up" class="custom-button">DEVENEZ MEMBRE</a>
		</div>
      <!-- end col-4 --> 
			<div class="col-lg-2 offset-xl-1 col-sm-6">
				<h6 class="widget-title">PARTENAIRES</h6>
				<ul class="footer-menu">
					<li><a href="#">PARTNER Y</a></li>
					<li><a href="#">PARTNER Y</a></li>
					<li><a href="#">KBM Staff</a></li>
					<li><a href="#">CARRIÈRE</a></li>
					<li><a href="#">POLICY</a></li>
				</ul>
		</div>
      <!-- end col-2 -->
			<div class="col-lg-2 col-sm-6">
				<h6 class="widget-title">ADHÉSION</h6>
				<ul class="footer-menu">
					<li><a href="#">ENFANTS</a></li>
					<li><a href="#">Adhésion à terme</a></li>
					<li><a href="#">Souscription</a></li>
				</ul>
		</div>
      <!-- end col-2 -->
			<div class="col-12">
			<p class="copyright">© 2023 KBM | KickBoxing Morocco CLUB</p>
			</div>
			<!-- end col-12 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
	</footer>
	<!-- end footer -->