<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4">
				<div class="logo">
				<img src="images/logo.png" alt="Image">
				</div>
				<!-- end logo -->
				<div class="footer-info">Lifting Training Center<br>
				<a href="#">View Information </a></div>
				<!-- end footer-info -->
				<ul class="footer-social">
        <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
        <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
        <li><a href="#"><i class="lni lni-instagram"></i></a></li>
        <li><a href="#"><i class="lni lni-youtube"></i></a></li>
        <li><a href="#"><i class="lni lni-pinterest"></i></a></li>
	</ul>
		</div>
      <!-- end col-3 --> 
			<div class="col-lg-4">
				<h6 class="widget-title">QUANCA CLUB</h6>
				<p>We match you with the trainer best equipped to help you meet your specific goals and preferences <u>Give yourself</u> the kit you need to leave your competition in the dust.</p><br>
				<a href="contact.html" class="custom-button">BECOME MEMBER</a>
		</div>
      <!-- end col-4 --> 
			<div class="col-lg-2 offset-xl-1 col-sm-6">
				<h6 class="widget-title">CAREERS</h6>
				<ul class="footer-menu">
					<li><a href="#">Receptionist</a></li>
					<li><a href="#">Become Trainer</a></li>
					<li><a href="#">Quanca Staff</a></li>
					<li><a href="#">Management</a></li>
					<li><a href="#">Finance</a></li>
				</ul>
		</div>
      <!-- end col-2 -->
			<div class="col-lg-2 col-sm-6">
				<h6 class="widget-title">MEMBERSHIP</h6>
				<ul class="footer-menu">
					<li><a href="#">Student Discount</a></li>
					<li><a href="#">Term Membership</a></li>
					<li><a href="#">Month-to-Month</a></li>
				</ul>
		</div>
      <!-- end col-2 -->
			<div class="col-12">
			<p class="copyright">© 2020 Quanca | Premium Gym Club</p>
			</div>
			<!-- end col-12 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
	</footer>
	<!-- end footer -->