<header class="page-header" data-background="images/slide02.jpg">
  <div class="container">
    <h2><%= @pagename %></h2>
    <p></p>
  </div>
  <!-- end container -->
</header>
<!-- end page-header -->
