<header class="page-header" data-background="/boxing-gloves.jpg">
  <div class="container">
    <h2><%= @pagename %></h2>
    <p></p>
  </div>
  <!-- end container -->
</header>
<!-- end page-header -->
