<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title wow fade text-white">
          <figure>
          <%= image_tag "kbm.png" %>
          </figure>
          <h2>POURQUOI KBM ?</h2>
          <p>Kickboxing Morocco offre des cours de kickboxing de haute qualité
           enseignés par des instructeurs expérimentés, ce qui en fait un choix
            idéal pour les amateurs de sports de combat qui cherchent à améliorer leurs compétences.</p>
        </div>
        <!-- end section-title --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row -->
    <div class="row justify-content-center text-white">
      <div class="col-lg-4 col-md-6">
        <div class="image-box">
          <figure class="wow reveal-effect">
          <%= image_tag "boxing-feature.jpg" %>
          </figure>
          <span class="time">18:00 - LUNDI</span>
          <h6>BOXE ANGLAISE</h6>
        </div>
        <!-- end image-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="image-box">
          <figure class="wow reveal-effect">          
          <%= image_tag ("kids.jpg") %>
          </figure>
          <span class="time">10:00 - SAMEDI </span>
          <h6>KIDS</h6>
        </div>
        <!-- end image-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="image-box">
          <figure class="wow reveal-effect">          
            <%= image_tag "muay-thai.jpg" %>
          </figure>
          <span class="time">20:00 - VENDREDI </span>
          <h6> MUAY THAI </h6>
        </div>
        <!-- end image-box --> 
      </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>