<header class="slider">
	<div class="main-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-image" data-background="images/slide01.jpg"></div>
        <!-- end slider-image -->
          <div class="container">
    <h1>Start Workout<br>
      Get Better</h1>
    <p>Experience our revolutionary j30 classes</p>
    <a href="#">DISCOVER MORE</a> </div>
        <!-- end container --> 
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide">
        <div class="slide-image" data-background="images/slide02.jpg"></div>
        <!-- end slider-image -->
          <div class="container">
    <h1>Ultimate Training<br>
      Facility</h1>
    <p>Group fitness classes and personal training</p>
    <a href="#">LEARN MORE</a> </div>
        <!-- end container --> 
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide">
        <div class="slide-image" data-background="images/slide03.jpg"></div>
        <!-- end slider-image -->
          <div class="container">
    <h1>People, Working<br>
      Really Hard</h1>
    <p>Professional heavy duty commercial grade</p>
    <a href="#">DISCOVER MORE</a> </div>
        <!-- end container --> 
      </div>
      <!-- end swiper-slide --> 
    </div>
    <!-- end swiper-wrapper -->
    <div class="button-prev"><i class="lni lni-chevron-left"></i></div>
    <!-- end button-prev -->
    <div class="button-next"><i class="lni lni-chevron-right"></i></div>
    <!-- end button-next -->
    <div class="swiper-pagination"></div>
    <!-- end swiper-pagination -->
  </div>
  <!-- end main-slider --> 
</header>
<!-- end slider -->