<header class="slider">
	<div class="main-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-image" data-background="url(https://coachissam.com/images/insta/issam-scene1.jpg)"></div>
        <!-- end slider-image -->
          <div class="container">
    <h1>KickBoxing<br>
      Morocco</h1>
    <p>Centre sportif d'arts martiaux.</p>
    <a href="#">DÉCOUVRIR PLUS</a> </div>
        <!-- end container --> 
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide">
        <div class="slide-image" data-background="url(https://images.unsplash.com/photo-1612179736716-d643f0bdcf4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)"></div>
        <!-- end slider-image -->
          <div class="container">
    <h1>Boxe, Kickboxe<br>
      & Muay Thaï</h1>
    <p>Plusieurs programmes d'entraînement d'arts martiaux</p>
    <a href="#">APPRENDRE ENCORE PLUS</a> </div>
        <!-- end container --> 
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide">
        <div class="slide-image" data-background="url(https://images.unsplash.com/photo-1453844598634-41bfc63e7b23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1506&q=80)"></div>
        <!-- end slider-image -->
          <div class="container">
    <h1>Kids, Juniors, Amateurs<br>
      et PRO</h1>
    <p>Quel que soit votre niveau nous avons une séance pour vous.</p>
    <a href="#">CONTATEZ-NOUS</a> </div>
        <!-- end container --> 
      </div>
      <!-- end swiper-slide --> 
    </div>
    <!-- end swiper-wrapper -->
    <div class="button-prev"><i class="lni lni-chevron-left"></i></div>
    <!-- end button-prev -->
    <div class="button-next"><i class="lni lni-chevron-right"></i></div>
    <!-- end button-next -->
    <div class="swiper-pagination"></div>
    <!-- end swiper-pagination -->
  </div>
  <!-- end main-slider --> 
</header>
<!-- end slider -->