<section class="content-section no-spacing text-white" >
  <div class="container">
    <div class="row align-items-center no-gutters">
      <div class="col-lg-6">
        <div class="side-content left wow fade">
          <h6>TEAM KBM</h6>
          <h2>REJOINS NOTRE<br>
            ÉQUIPE</h2>
          <p>En plus de son excellent programme de kickboxing, Kickboxing Morocco propose 
          une ambiance conviviale et une communauté accueillante, ce qui en fait un choix idéal
           pour ceux qui cherchent une expérience de fitness sociale et stimulante.</p>
          <a href="#" class="custom-button">VOIR LES HORAIRES</a> </div>
        <!-- end side-content --> 
      </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <figure class="side-image full-right wow reveal-effect">
			<ul class="side-timetable">
			<li><span>LUNDI</span> <b> 10:00 - 23:00</b></li>
			<li><span>MARDI</span> <b> 10:00 - 23:00</b></li>
			<li><span>MERCREDI</span> <b> 10:00 - 23:00</b></li>
			<li><span>JEUDI</span> <b> 10:00 - 23:00</b></li>
			<li><span>VENDREDI</span> <b> 10:00 - 23:00</b></li>
			<li><span>SAMEDI</span> <b> 10:00 - 23:00</b></li>
			</ul>    
        <%= image_tag "studio-gym.jpg" %>
			  </figure>
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>