<%= render "components/slider"%>
<%= render "components/hero"%>
<button onclick="test()"> clickme</button>
<script>
    function test(){
        // sweet alert
        Swal.fire(
  'Good job!',
  'You clicked the button!',
  'success'
)
    }
</script>